@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
  font-family: 'JetBrains Mono', monospace;
  color-scheme: dark;

  --bg-body: #0d1117;
  --bg-container: #161b22;
  --bg-input: #0d1117;
  --text-main: #e6edf3;  
  --text-accent: #39ff14; 
  --text-link: #58a6ff;  
  --border-color: #30363d;
}

h2{
  font-size: 200%;
}

body {
  background-color: #0d1117;
  color: var(--text-main);
  font-family: 'JetBrains Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  padding: 40px;
}

.container {
  background: var(--bg-container);
  max-width: 500px;
  margin: 20px auto;
  box-sizing: border-box;
  width: 90%;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 2rem 1.5rem;
  box-shadow: 0 0 20px rgba(2, 249, 2, 0.178);
}

input {
  font-family: 'JetBrains Mono', monospace;
  background: var(--bg-input);
  border: 1px solid var(--border-color);
  color: var(--text-link);
  padding: 10px;
  border-radius: 6px;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

button {
  background-color: #238636;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

button:hover { background-color: #2ea043; }

button:disabled { background-color: #21262d; color: #484f58; }

code {
  background: #000;
  padding: 15px 4rem;
  display: block;
  border-left: 3px solid #39ff14;
  border-radius: 4px;
  color: #39ff14;
  font-variant-ligatures: normal;
  font-size: 0.9rem;
}
